body{
    font-family: Verdana; 
    font-size: 1em;
    text-align: center;
}
#mybutton{
    font-size: 3em;
    padding: 3px 15px;
    border-radius: 10px;
    border-color: rgb(3, 3, 198);
    margin: auto;
    margin-top: 1em;
    cursor: pointer;
    box-shadow: 0px 15px 20px rgb(112, 112, 219);
    transition: background-color 0.25s;
}
#mybutton:hover{
    background-color: rgb(70, 70, 242);
}
#mylabel{
    font-family: verdana;
    font-size: 2em;
}